h1 {
    Color: green;
    word-break: break-all;
}

a {
    text-decoration: none;
    color: #5673C8;
}

a:hover {
    color: lightblue;
}

.column {
    float: left;
    margin-top: 50px;
    position: relative;
}

.content {
    background-color: white;
    box-shadow: 5px 0px 5px 0px #707070;
}

.content img {
    width: 100%;
}
.margin-top-5{
    margin-top:5px;
}
p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.black-color{
    color:#000;
}
.select-option-background{
    background-color:#0D3A3A;
    border:1px solid #B7893D;
    padding:5px;
    text-align:center;
}
.select-style {
    background-color: #0D3A3A;
    border: 0;
    color: #B7893D;
    border-left: 1px solid #B7893D;
    font-weight: bold;
    outline: 0;
}

.show {
    display: block;
}

.content .item-details {
    padding: 20px;
}
#result .content .item-details {
    padding: 10px;
}

.home-header-image {
    background-image: url(../images/Secondry-pages.png);
    background-size: 100% 100%;
    height: 298px;
    border: 0px;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.developers .home-header-image {
    background-image: url(../images/developers-header.png);
}

.select-list {
    text-align: right;
}

.select-list label {
    color: #707070;
}

.select-list select {
    outline: 0;
    color: #707070;
}

.secondery-page-header-ovarlay {
    text-transform: uppercase;
    font-family: Bahnschrift;
}


#developers-page {
    background-image: url("../images/home-vision-background.png");
    background-size: 30% 56%;
    background-repeat: no-repeat;
    background-position: center;
}

.developer-item img {
    margin-top: 25px;
    width: 100px;
    overflow: hidden;
    border: 7px solid #707070;
    height: 100px;
    border-radius: 50%;
}

.details-paragraph {
    font-family: Bahnschrift;
    color: #0D3A3A;
    width: 70%;
    font-size: 19px;
    margin-top:10px;
}

.developer-details .developer-image {
    border-radius: 50%;
    border: 7px solid #707070;
}

.side-unit-details {
    background-color: #B7893D;
    border-radius: 5px;
    color: #fff;
}

.side-unit-details div {
    padding: 5px 0;
}

.side-unit-details i {
    padding-right: 5px;
}

.white-border-2 {
    border-bottom: 2px solid #fff;
    width: 100%;
    height: 2px;
}

.white-border-1 {
    border-bottom: 1px dotted #fff;
    width: 100%;
    height: 1px;
}

.single-project .secondery-page-header-ovarlay .ovak-button {
    padding: 10px 25px;
}

.single-project .demed-background {
    background-color: #aaa
}

.single-project-details .single-project-header h2 {
    text-transform: uppercase;
    display: inline-block;
    padding-left: 5px;
}

.single-project-details .single-project-header img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    border: 7px solid #707070;
}

.single-project-details .single-item-details img {
    width: 100%;
    position: relative;
}

.single-project-details .single-item-details .consultancy-square {
    right: 40px;
    top: 0;
    left: unset;
    text-align: left;
    padding-bottom: 20px;
}

.single-project-details .single-item-details .consultancy-square .consultancy-square-link {
    text-transform: uppercase;
    font-weight: bold;
}

.single-project-details .carousel {
    margin-top: 75px;
}

.single-project-details .carousel .carousel-control i {
    position: absolute;
    top: 50%;
    color: #B7893D;
}

.single-project-details .carousel .carousel-control:hover i {
    color: #fff;
}

.utilities {
    margin-top: 75px;
}

.utilities .utilities-services div {
    font-size: 18px;
    margin-top: 20px;
}

.utilities .utilities-services i {
    padding-right: 5px;
}

.about-ovak .details-paragraph {
    width: 100%;
}

.service-background {
    background-image: url(../images/service.png);
    background-size: 100% 100%;
    height: 600px;
    position: relative;
}

.service-details {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
}

.about-service .header-line {
    width: 90px;
}

.about-icon-design {
    background-color: #B7893D;
    border-radius: 50%;
    padding: 5px;
    border: 3px solid #fff;
    height: 60px;
    width: 60px;
    text-align: center;
}
.about-icon-design .fa-filter, .about-icon-design .fa-calculator{
    padding:5px;
}

.about-icon-design i {
    font-size: 30px;
    margin-top: 5px;
}

.about-paragraph p {
    margin: 0;
}

.contact-us .header-line {
    width: 130px;
}

.contact-background {
    background-color: #B7893D;
}

.contact-display {
    align-items: center;
    display: flex;
}

.contact-form input, .contact-form textarea {
    width: 70%;
    margin-bottom: 10px;
    outline: 0;
    padding: 5px;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #aaa;
}

.contact-form input {
    height: 35px;
}

.contact-form textarea {
    height: 70px;
}

.contact-form form div {
    text-align: center;
}

.contact-form form button {
    width: 100%;
    font-weight: bold;
}

.contact-form form .ovak-dark-button:hover {
    background-color: #0D3A3A;
    color: #B7893D;
}

.consult .header-line {
    width: 90px;
}

.consult .service-background {
    background-image: url(../images/consult.png);
}

.consultation-background {
    background: rgba(48, 76, 76,.7);
    padding: 10px;
}

.consultation-btns .ovak-button {
    background-color: #707070;
    font-family: Arial;
    padding: 10px 40px;
}

.consultation-btns .ovak-button:hover {
    background-color: #B7893D;
}

.consultation-btns .ovak-button.active {
    background-color: #B7893D;
}

.consultation-btns .ovak-button i {
    padding-right: 5px;
}

.consultation .custom-select {
    width: 100%;
    text-align: center;
}

.consultation .select-selected {
    background-color: #0D3A3A;
    color: #B7893D;
    padding: 5px 0;
}

.consultation input {
    width: 100%;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 10px;
}

.installment .service-background {
    background-image: url(../images/calculator.png);
    height: auto;
}

.installment .service-details {
    padding: 75px 0;
}

.installment .service-background span {
    font-size: 20px;
    font-weight: bold;
}

.gold-background {
    background-color: #B7893D;
    padding: 5px;
    border-radius: 5px;
}

.installment input {
    width: 100%;
    padding: 8px;
    outline: 0;
}

.installment .pl-10 {
    padding: 0;
    padding-left: 10px;
}

.transperant {
    background-color: transparent;
    border: 1px solid #fff;
    margin-left: 10px;
}

.installment button {
    padding: 10px 40px;
}

.installment table {
    width: 100%;
    border: 1px solid #aaa;
}
.installment table thead tr td{
    font-size:18px;
}
.installment table tr {
    border: 1px solid #aaa;
}

.installment table tr td {
    border: 1px solid #aaa;
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    .details-paragraph {
        width: 100%;
    }

    .secondery-page-header-ovarlay h2 {
        font-size: 18px;
    }

    .about-icon-design {
        width: 75px;
        height: 75px;
    }

    .about-icon-design i {
        font-size: 45px;
    }
}


@media only screen and (max-width: 515px) {
    .select-list {
        text-align: left;
        margin-top: 25px;
    }

    .service-background {
        height: auto;
        background-size: cover;
    }

    .mobile-margin-top-50 {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about-icon-design {
        margin-bottom: 20px;
    }

    .contact-display {
        display: block;
    }

    .contact-display .margin-top-50 {
        margin-top: 20px;
    }

    .contact-display .margin-bottom-50 {
        margin-bottom: 20px;
    }

    .contact-display .margin-top-75 {
        margin-top: 20px;
    }

    .contact-form input, .contact-form textarea {
        width: 100%;
    }

    .unit-details-text {
        margin-top: 50px;
    }

    .single-project-details .single-project-header img {
        height: 80px;
        width: 80px;
    }

    .single-project-details .single-project-header h2 {
        font-size: 16px;
    }

    .secondery-page-header-ovarlay .header-letter-spacing {
        letter-spacing: 10px;
    }
    .consultation-background{
        padding:0;
    }
    .installment .consultation-background{
        padding:50px 10px;
    }
    .installment .pl-10{
        padding:0;
    }
}
